@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: "DM Sans", sans-serif;
     color: antiquewhite;
     transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
     font-weight: 500;
}
body {
     background-color: #252525;
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh;
}
h1 {
     font-family: "Libre Baskerville", serif;
     font-weight: 700;
}
button{
     border-radius: 7px;
     border: 1px solid #505050;
     background-color: #303030;
     width: 75px;
     height: 50px;
     transition-property: background-color ;
     font-size: 1rem;
     font-display: bold;
}
button:hover {
     background-color: #707070;
     
}